html, body {
    text-align: center;  
    padding:30px 0 0 0;
}

.text-center {
    text-align: center;
}

.header {
    padding:0px 0 30px 0;
}

.to-dos {
    margin-top:25px;
}

#inputField {
    height: 50px;
}

.paragraph-styling {
    font-size: 22px;
}